@{
    ViewBag.Title = "Home Page";
}

<div class="banner">
    <div class="arrow left-arrow">&#8249;</div>
    <div class="slider">
        <img src="~/Content/img/banner/img-banner-exemple.png" alt="banner" class="slide active">
        <img src="~/Content/img/banner/img-banner-exemple2.png" alt="banner" class="slide">
        <img src="~/Content/img/banner/img-banner-exemple3.png" alt="banner" class="slide">
    </div>
    <div class="arrow right-arrow">&#8250;</div>
</div>

<main>
    <div class="top-main">
        <button class="button-programming complete">PROGRAMAÇÃO COMPLETA</button>
    </div>
    <div class="mid-main">
        <div class="image-container-poster">
            <img src="~/Content/img/posters/img-poster-barbie.jpg" alt="#">
            <div class="overlay-poster">
                <div class="text-poster">Barbie</div>
                <button class="button" id="button-barbie">Comprar</button>
            </div>
        </div>
        <div class="image-container-poster">
            <img src="~/Content/img/posters/img-poster-bezouro-azul.jpg" alt="#">
            <div class="overlay-poster">
                <div class="text-poster">Bezouro Azul</div>
                <button class="button" id="button-bezouro-azul">Comprar</button>
            </div>
        </div>
        <div class="image-container-poster">
            <img src="~/Content/img/posters/img-poster-missao-impossivel.jpg" alt="#">
            <div class="overlay-poster">
                <div class="text-poster">Missão Impossível</div>
                <button class="button" id="button-missao-impossivel">Comprar</button>
            </div>
        </div>
        <div class="image-container-poster">
            <img src="~/Content/img/posters/img-poster-homem-aranha-aav.jpg" alt="#">
            <div class="overlay-poster">
                <div class="text-poster">Homem Aranha: Através do Aranhaverso</div>
                <button class="button" id="button-homem-aranha-aav">Comprar</button>
            </div>
        </div>
        <div class="image-container-poster">
            <img src="~/Content/img/posters/img-poster-elementos.jpg" alt="#">
            <div class="overlay-poster">
                <div class="text-poster">Elementos</div>
                <button class="button" id="button-elementos">Comprar</button>
            </div>
        </div>
        <div class="image-container-poster">
            <img src="~/Content/img/posters/img-poster-duna.jpg" alt="#">
            <div class="overlay-poster">
                <div class="text-poster">Duna</div>
                <button class="button" id="button-duna">Comprar</button>
            </div>
        </div>
        <div class="image-container-poster">
            <img src="~/Content/img/posters/img-poster-oppenheimer.jpg" alt="#">
            <div class="overlay-poster">
                <div class="text-poster">Oppenheimer</div>
                <button class="button" id="button-oppenheimer">Comprar</button>
            </div>
        </div>
        <div class="image-container-poster">
            <img src="~/Content/img/posters/img-poster-sobrenatural.jpg" alt="#">
            <div class="overlay-poster">
                <div class="text-poster">Sobrenatural</div>
                <button class="button" id="button-sobrenatural">Comprar</button>
            </div>
        </div>
        <div class="image-container-poster">
            <img src="~/Content/img/posters/img-poster-tartarugas-ninjas-cm.jpg" alt="#">
            <div class="overlay-poster">
                <div class="text-poster">As Tartarugas Ninjas: Caos Mutante</div>
                <button class="button" id="button-tartarugas-ncm">Comprar</button>
            </div>
        </div>
    </div>
    <div class="main-products">
        <div class="tittle-products">PRODUTOS</div>
        <div class="products">
            <div class="image-container-product">
                <img src="~/Content/img/products/img-popcorn.png" alt="" class="img-product">
                <div class="overlay-product">
                    <div class="text-product">Pipoca e Outros</div>
                    <button class="button">Comprar</button>
                </div>
            </div>
            <div class="image-container-product">
                <img src="~/Content/img/products/img-cineroom.png" alt="" class="img-product">
                <div class="overlay-product">
                    <div class="text-product">Aluguel de Salas</div>
                    <button class="button">Comprar</button>
                </div>
            </div>
            <div class="image-container-product">
                <img src="~/Content/img/products/img-combos.png" alt="" class="img-product">
                <div class="overlay-product">
                    <div class="text-product">Combos</div>
                    <button class="button">Comprar</button>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="~/Scripts/script.js"></script>