
@{
    ViewBag.Title = "Bezouro Azul";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/comprar-ingressos.css">
    <link rel="shortcut icon" href="~/Content/comprar-ingressos.css" type="image/x-icon">
    <title>Dolby Cinema</title>
</head>
<body>
    <article class="article">
        <main>
            <img src="src/img/posters/img-poster-bezouro-azul.jpg" alt="poster" class="poster">
            <div class="tittle-movie">
                <h2>Bezouro Azul</h2>
            </div>
            <div class="info-movie">
                <span class="classification-14">14</span>
                <span class="time-duration">136 min</span>
                <span class="categories">Família, Heroi, Aventura, Ação</span>
            </div>
            <h3 class="tittle-hours">HORÁRIOS</h3>
            <div class="hours-movie">
                <select name="city" required="required" class="select-city-hours">
                    <option value="">Selecinone uma cidade</option>
                    <option value="">Campo Limpo Paulista - SP</option>
                    <option value="">Jundiaí - SP</option>
                    <option value="">Várzea Paulista - SP</option>
                </select>
            </div>
            <button class="button-hour">Indisponível</button>
            <button class="button-hour">Indisponível</button>
            <button class="button-hour">Indisponível</button>
            <button class="button-hour">Indisponível</button>
            <button class="button-hour">Indisponível</button>
            <button class="button-hour">Indisponível</button>
            <button class="button-hour">Indisponível</button>
            <button class="button-hour">Indisponível</button>
            <button class="button-hour">Indisponível</button>
            <button class="button-hour">Indisponível</button>
            <button class="button-hour">Indisponível</button>
            <div class="trailer-movie">
                <h3>Trailer</h3>
                <iframe width="875" height="450" src="https://www.youtube.com/embed/sqHP-zdvXG8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="info ">
                <h3 class="tittle-info">Sinopse</h3>
                <p class="paragrafo-info">
                    O adolescente Jaime Reyes ganha superpoderes quando um misterioso escaravelho se prende à sua coluna e lhe fornece uma poderosa armadura alienígena azul.</h3>
                    <div class="elenco">
                        <h4 class="tittle-info">Elenco</h4>
                        <p class="paragrafo-info">Xolo Maridueña, Bruna Marquzine, Susan Sarandon, Raoul Max Trujillo, Harvey Guillen, Balissa Escobedo, George Lopez, Elpidia Carrillo</p>
                    </div>
                    <div class="direction">
                        <h4 class="tittle-info">Direção</h4>
                        <p class="paragrafo-info">Angel Manuel Soto</p>
                    </div>
                    <div class="roteiro">
                        <h4 class="tittle-info">Roteiro</h4>
                        <p class="paragrafo-info">John Rogers</p>
                    </div>
                    <div class="production">
                        <h4 class="tittle-info">Produção</h4>
                        <p>John Rickard, Pawel Pogorzelski, J.J. Perry</p>
                    </div>
            </div>
        </main>
    </article>
    <script src="src/js/comprar-ingresso.js"></script>
</body>
</html>