
@{
    ViewBag.Title = "movieBarbie";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/comprar-ingressos.css">
    <link rel="shortcut icon" href="src/img/dolby/icon-dolby.png" type="image/x-icon">
    <title>Dolby Cinema</title>
</head>
<body>

        <article class="article">
            <main>
                <img src="src/img/posters/img-poster-barbie.jpg" alt="poster-barbie" class="poster">
                <div class="tittle-movie">
                    <h2>Barbie</h2>
                </div>
                <div class="info-movie">
                    <span class="classification-free">Livre</span>
                    <span class="time-duration">114 min</span>
                    <span class="categories">Família, Comédia, Aventura, Ação</span>
                </div>
                <h3 class="tittle-hours">HORÁRIOS</h3>
                <div class="hours-movie">
                    <select name="city" required="required" class="select-city-hours">
                        <option value="">Selecinone uma cidade</option>
                        <option value="">Campo Limpo Paulista - SP</option>
                        <option value="">Jundiaí - SP</option>
                        <option value="">Várzea Paulista - SP</option>
                    </select>
                </div>
                <button class="button-hour">12:00</button>
                <button class="button-hour">13:20</button>
                <button class="button-hour">14:55</button>
                <button class="button-hour">15:40</button>
                <button class="button-hour">16:35</button>
                <button class="button-hour">17:10</button>
                <button class="button-hour">18:00</button>
                <button class="button-hour">19:20</button>
                <button class="button-hour">20:25</button>
                <button class="button-hour">22:10</button>
                <button class="button-hour">00:00</button>
                <div class="trailer-movie">
                    <h3>Trailer</h3>
                    <iframe width="875" height="450" src="https://www.youtube.com/embed/NVIpIMqeJVM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="info ">
                    <h3 class="tittle-info">Sinopse</h3>
                    <p class="paragrafo-info">Excêntrica e individualista, Barbie é exilada da Barbieland por causa de suas imperfeições. Quando seu mundo natal está em perigo, Barbie retorna com o conhecimento de que o que a torna diferente também a torna mais forte.</p>
                    <h3>Créditos e distriuição</h3>
                    <div class="elenco">
                        <h4 class="tittle-info">Elenco</h4>
                        <p class="paragrafo-info">Margot Robbie, Ryan Gosling, Will Ferrell, Kate Mckinnon, America Ferrera, Ariana Greenblatt, Emma Mackey, Alexandra Shipp, Simu Liu, Issa Rae, Michael Cera, Hari Nef, Kingsley Ben-Adir, Rhea Perlman, Ncuti Gatwa, Emerald Fennell, Sharon Rooney, Scott Evans, Ana Kayne, Connor Swindells, Ritu Arya, Jamie Demetriou</p>
                    </div>
                    <div class="direction">
                        <h4 class="tittle-info">Direção</h4>
                        <p class="paragrafo-info">Greta Gerwig</p>
                    </div>
                    <div class="roteiro">
                        <h4 class="tittle-info">Roteiro</h4>
                        <p class="paragrafo-info">Greta Gerwig, Noah Baumbach</p>
                    </div>
                    <div class="production">
                        <h4 class="tittle-info">Produção</h4>
                        <p>Margot Robbie, Tom Ackerley, David Heyman, Robbie Brenner</p>
                    </div>
                </div>
            </main>
        </article>

    <script src="~/Scripts/comprar-ingresso.js"></script>
</body>
</html>

