@charset "utf-8";
/* CSS Document */

html {
	margin: none;
	padding: none;
	box-sizing: border-box;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

body {
	margin: inherit;
	padding: inherit;
	box-sizing: inherit;
	justify-content: center;
	align-content: center;
	display: flex;
	flex-wrap: wrap;
}

embed,
iframe,
img,
object,
video {
  max-width: 100%;
}


.select-box {
	display: flex;
	flex-wrap: wrap;
	width: 640px;
	align-items: center;
	justify-content: center;
}

.select-city, .select-cinema{
	margin: 5px;
	width: 200px;
	height: 50px;
	text-align: center;
	border: solid 1px;
	border-radius: 3px;
	cursor: pointer;
}

.button-programming {
	margin: 5px;
	width: 200px;
	height: 50px;
	text-align: center;
	border: none;
	border-radius: 3px;
	background: #000000;
	color: #FFFFFF;
	cursor: pointer;
}

.button-programming:hover {
	background: #263cff;
}

.button-programming:active {
	background: #1822a7;
}

container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
}

.dolby-cinema-logo {
	height: 100px;
	min-width: 200px;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
}

.dolby-cinema-logo:hover {
	transform: scale(1.04);
}

.dolby-cinema-logo:active {
	filter: opacity(0.5);
}

container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
}

select {
  appearance: none;
  text-indent: 1px;
  text-overflow: '';
}


header {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
}

nav {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	background: #000000;
	align-content: center;
	justify-content: center;
}

@media only screen and (min-width: 800px){
	nav{
		height: 50px;
	}
}

.nav-button {
	width: 160px;
	height: 50px;
	text-align: center;
	border: none;
	background: #000000;
	color: #FFFFFF;
	cursor: pointer;
}

.nav-button:hover {
	background: #263cff;
}

.nav-button:active {
	background: #1822a7;
}



















.article {
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

main {
	display: flex;
	max-width: 810px;
	width: 100%;
	justify-content: center;
	flex-wrap: wrap;
}

.poster{
	margin: 5px;
	border-radius: 3px;
	width: 30%;
}

.trailer-movie {
	margin: 5px;
	display: flex;
	flex-wrap: wrap;
}

.tittle-movie {
	display: flex;
	width: 100%;
	height: 50px;
	align-items: center;
	margin: 5px;
}

.classification-14 {
	background-color: #ffa41c;
	border-radius: 3px;
	padding: 2px 10px 4px 10px;
	margin:  5px  5px 5px 5px;
}

.classification-free {
	background-color: #2aeb24;
	border-radius: 3px;
	padding: 2px 10px 4px 10px;
	margin:  5px  5px 5px 5px;
}

.time-duration {
	border-radius: 3px;
	padding: 2px 10px 4px 10px;
	background-color: #000000;
	color: #ffffff;
	margin: 5px;
}

.categories {
	background-color: #2079fd;
	width: 100%;
	max-width: 234px;
	border-radius: 3px;
	padding: 2px 10px 4px 10px;
	color: #ffffff;
	margin: 5px;
}

.info-movie {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.tittle-hours {
	width: 100%;
	background-color: #000000;
	border-radius: 3px;
	color: #ffffff;
	padding: 5px 10px 5px 10px;
	margin: 5px;
	margin-top: 20px;
}

.hours-movie {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	align-content: center;
}

.select-city-hours{
	margin: 5px;
	width: 100%;
	height: 35px;
	text-align: center;
	border: solid 1px;
	border-radius: 3px;
	cursor: pointer;
}

.container-button-hour {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
}

.button-hour {
	margin: 5px;
	width: 125px;
	height: 50px;
	text-align: center;
	border: none;
	border-radius: 3px;
	background: #000000;
	color: #FFFFFF;
	cursor: pointer;
	padding: 11px;
}

.button-hour:hover {
	background: #263cff;
}

.button-hour:active {
	background: #1822a7;
}

.sinopse {
	margin-bottom: none;
}




















footer {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	background: black;
	justify-content: center;
	text-align: center;
}

.footer-content {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	width: 810px;
}

.footer-technologies {
	display: flex;
	width: 100%;
	justify-content: center;
	flex-wrap: wrap;
	margin: 20px 5px 5px 5px;
}

.footer-img-technologies {
	display: flex;
	flex-wrap: wrap;
	height: 60px;
	margin: 5px;
}

.preto {
	filter: invert(100%);
}

.footer-info {
	display: flex;
	width: 100%;
	justify-content: center;
	flex-wrap: wrap;
	color: #FFFFFF;
}

.info {
	text-align: left;
	margin: 20px 55px 30px 55px;
}

.info-tittle {
	font-size: 20px;
}

.info a {
	text-decoration: none;
	color: #ffffff;
}

.info a:hover {
	color: #5465ff;
}

.info a:active {
	color: #353daf;
}

.p-copy {
	width: 100%;
	color: #FFFFFF;
}
